main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    height: auto;
    width: 100%;
}

body {
    height: 100vh;
    width: 95vw;

    overflow-x: hidden;
}

.classroom-side {
    width: 52%;
    height: 8%;
    position: relative;
    border: solid black 2px;
}

.classroom-up {
    width: 8%;
    height: 52%;
    position: relative;
    border: solid black 2px;
}

.classroom-up > div {
    transform: rotate(90deg);
}

.gridcontainer {
    position: relative;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 20% 20% 20% ;

}

.nodots {
    list-style-type: none;
}

.nopadding {
    padding: 0;
}

.item {
    background-color: pink;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;

    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 1;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: end;
    
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 5;
}
.top {
    display: flex;
    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 5;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: end;
    
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
}

.floorcenter {
    background-color: black;

    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
}

.floor {
    width: 428px;
    height: 428px;
    justify-self: flex-start;
    border: solid black 10px;
}

.navigation {
    justify-self: flex-end;
    order: 0;
    flex-grow: 1;
    height: 100%;

    background-color: palegreen;
}


.floorselector {
    display: grid;
    width: 410px;
    height: 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 20% 20% 20% ;
}

.floorselector select {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}


#changefloorbtn {
    top: 20%;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 6;
}

.closer {
    width: 29%;
    height: 64px;
    border: 2px black solid;
    margin: 25px;
    background-color: rgb(182, 48, 48);
}

.closer:hover {
    cursor: pointer;
}

.closed {
    display: none;
}