main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;

    gap: 1em;

    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 32px;
}

body {
    height: 100vh;
    width: 95vw;

    overflow-x: hidden;
}

.classroom-side {
    width: 52%;
    height: 8%;
    position: relative;
    border: solid black 2px;
}

.classroom-up {
    width: 8%;
    height: 52%;
    position: relative;
    border: solid black 2px;
}

.classroom-up > div {
    transform: rotate(90deg);
}

.gridcontainer {
    position: relative;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-columns: 20% 20% 20% 20% 20% ;

}

.nodots {
    list-style-type: none;
}

.nopadding {
    padding: 0;
}

.non-selectable {
    user-select: none;
}

.item {
    background-color: pink;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;

    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 1;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: end;
    
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 5;
}
.top {
    display: flex;
    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 5;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: end;
    
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
}

.floorcenter {
    background-color: black;

    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;
}

.floor {
    width: 428px;
    height: 428px;
    justify-self: flex-start;
    align-self: center;
    border: solid black 10px;
}

.navigation {
    display: flex;
    justify-self: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    order: 0;
    
    flex-grow: 1;
    flex-shrink: 0;
    height: 120px;
    width: 100%;

    background-color: #0F45C7;
    border: 1px solid #0F45C7;
    border-radius: 32px;
    margin-bottom: 2px;
}


.floorselector {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: baseline;

    justify-content: center;
}

.floorselector > button {
    font-size: large;
    background-color: orange;
    color: white;
    flex-grow: 1;
    z-index: 2;
    order: 1;

    padding: 10px;
    border: 1px orange solid;
    border-radius: 16px;
    user-select: none;
    transition: 0.3s ease-in-out;
}

.floorselector:hover > button {
    cursor: pointer;
    color: black;
    border: 1px transparent solid;
    background-color: white;
    position: relative;
    transform: translateX(-95%);
    border-right: 25% transparent;
}

.floorselector:hover > .dropdown-floors {
    opacity: 1;
    visibility: visible;
}

.dropdown-floors {
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    align-items: center;
    transform: translateX(-100%);

    visibility: hidden;
    opacity: 0;

    transition: 0.3s ease-in-out;
}

.dropdown-floors > span { 
    text-decoration: none;
    font-size: medium;
    color: black;
    background-color: white;
    margin: 0;
    padding: 5px;
    user-select: none;
    cursor: pointer;
    
    transition: 0.3s ease-out;
    /* width: fit-content; */
}

.dropdown-floors > span:hover {
    background-color: #0F45C7;
    color: white;
    
}

.dropdown-floors > span > p {
    margin: 0;
    width: fit-content;
}


#changefloorbtn {
    top: 20%;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 6;
}

.closer {
    width: 29%;
    height: 52px;
    border: 2px transparent solid;
    align-self: center;
    color: white;
    background-color: #0F45C7;
    border-radius: 16px;
    transition: border-radius 0.3s ease-in-out;
}

.closer > h1 {
    text-align: center;
    height: 100%;
    line-height: 52px;
    margin: 0;
    padding: 0;
    user-select: none;
}

.closer:hover {
    cursor: pointer;
    border-radius: 64px;
}

.closed {
    display: none;
}

.not_visible {
    display: none;
}

#allrooms {
    align-self: center;
    justify-self: flex-end;
    flex-grow: 1;
    width: 100%;
}

.info {
    position: relative;
    /* background-color: black; */
    color: white;
    z-index: 4;
    width: fit-content;
    height: fit-content;
    visibility: hidden;
    display: inline-block;
    border: black 2px solid;
}

.info > ul {
    list-style-type: none;
    padding: 5px;
}

.info > div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.65;
}

.classroom-up:hover > .info {
    visibility: visible;
    background-color: black;
    transform: rotate(0deg);
}

.classroom-side:hover > .info {
    visibility: visible;
    background-color: black;
}